<h1>New Games</h1>
<p>
  <% @letters.shuffle.each do |letter| %>
    <span class="letter-square"><%= letter %></span>
  <% end %>
</p>

<p>What is the longest word you can find?</p>

<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="question">
  <input type="submit" value="Play">
</form>

