// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter-square {
  color: white;
  width: 50px;
  background: blue;
  display: inline-block;
  text-align: center;
  padding: 25px 0;
}
